# https://www.data.go.kr/data/15101578/openapi.do
# YYYY-MM-DD ~ YYYY-MM-DD (한국관광공사_국문 관광정보 서비스_GW)
# https://www.data.go.kr/data/15101897/openapi.do
# YYYY-MM-DD ~ YYYY-MM-DD (한국관광공사_무장애 여행 정보)
ENCODING_KEY = ""
DECODING_KEY = ""